{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cn", "cva", "tw"],
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxSortProps": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "organizeAttributesOrder": [
    "id",
    "name",
    "type",
    "className",
    "htmlFor",
    "key",
    "ref",
    "autoFocus",
    "disabled",
    "hidden",
    "placeholder",
    "value",
    "defaultValue",
    "src",
    "href",
    "target",
    "rel",
    "alt",
    "required",
    "style",
    "aria-*",
    "data-*",
    "on*",
    "$others"
  ]
}
